{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["semantic-release-plugin-update-version-in-files", {
      "files": [
        {
          "path": ["src/index.ts"],
          "match": "(version:\\s*\")[\\d\\.]+(\",)",
          "replace": "$1{{nextRelease.version}}$2"
        }
      ]
    }],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
