{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "semantic-release-plugin-update-version-in-files",
      {
        "files": [
          "src/index.ts"
        ],
        "placeholder": "0.0.0"
      }
    ],
    "@semantic-release/npm",
    "@semantic-release/github"
  ]
}
